.artist-info {
  width: 100%;
  height: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  background: #fff;
  position: relative;
  &__thumbnail {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 15px;

    img {
      width: 100%;
      border-radius: 50%;
      border: 1px solid #000;
    }
  }

  &__details {
    h1 {
      margin-bottom: 10px;
    }
    a {
      opacity: 0.7;
      font-size: 12px;
      display: block;
      margin-bottom: 10px;
      text-decoration: underline;
    }

    a:hover {
      opacity: 1;
    }

    button {
      font-size: 12px;
      background: #f7c900;
      border-radius: 4px;
      border: 0;
      padding: 4px;
      cursor: pointer;
    }
  }
}
