.event-info {
  background: #fff;
  padding: 20px;

  h1 {
    margin-bottom: 10px;
  }

  hr {
    margin-bottom: 10px;
  }

  .eventinfo-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .eventinfo-details {
    h2 {
      margin-bottom: 5px;
    }
  }
}
